{
  "presets": [["@babel/preset-env", {
    "useBuiltIns": "usage"
  }]],
  "plugins": [
    [
      "path-alias",
      {
        "baseUrl": ".",
        "paths": {
          "@/*": ["src/*"],
          "@views/*": ["src/views/*"]
        }
      }
    ]
  ]
}
